body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
}

h1 {
    color: #585858;
    text-decoration: underline;
    font-style: normal;
    margin: 50px;
}

footer {
    background-color: #585858;
    position: relative;
}